@font-face {
  font-family: 'arcade';
  src: url('../fonts/ARCADECLASSIC.TTF') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #e57373;
  min-width: 320px;
  max-height: 395px;
}

.icons {
  display: inline-block;
  width: 128px;
  height: 564px;
  overflow: hidden;
  background: #fff url('../images/symbols.png') repeat-y;
  will-change: backgroundPosition;
  transition: 0.3s background-position ease-in-out;
  padding: 0 80px;
  transform: translateZ(0);
}

.bg-white {
  background-color: #fff;
  padding: 2em;
  border-radius: 13px;
}

.main-wrapper {
  display: flex;
}

.right {
  flex-basis: 70%;
}

.inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.img-div {
  height: 30px;
  width: 30px;
}

.img-icon {
  max-width: 100%;
  max-height: 100%;
}

.icons:nth-child(2) {
  margin: 0 10px;
}

* {
  box-sizing: border-box;
}

.spinner-container {
  overflow: hidden;
  height: 410px;
  padding: 2em;
  transform: translate(-50%, -50%) scale(1, 1);
  position: absolute;
  top: 35%;
  left: 20%;
  display: flex;
  transition: 0.3s transform;
}

.gradient-fade {
  position: absolute;
  top: 32px;
  right: 12px;
  bottom: 0px;
  left: 12px;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 7%,
    rgba(64, 64, 64, 0) 93%,
    rgba(64, 64, 64, 1) 100%
  );
}

.line {
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 7%,
    rgba(64, 64, 64, 0) 93%,
    rgba(64, 64, 64, 1) 100%
  );
}

.line-winner {
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom,
    rgba(144, 207, 115, 0.26) 0%,
    rgba(103, 170, 48, 0.404) 7%,
    rgba(160, 158, 28, 0.226) 93%,
    rgba(118, 190, 90, 0.205) 100%
  );
}

.line3 {
  position: absolute;
  top: 32px;
  right: 12px;
  bottom: 240px;
  left: 12px;
}

.line2 {
  position: absolute;
  top: 170px;
  right: 12px;
  bottom: 120px;
  left: 12px;
}

.line1 {
  position: absolute;
  top: 290px;
  right: 12px;
  bottom: 0px;
  left: 12px;
}

.winner-sign {
  position: absolute;

  top: 0px;
  right: 12px;
  bottom: 170px;
  left: 30%;
  font-size: 2.4rem;
  font-family: arcade;
  color: aqua;
  align-content: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.debugger {
  position: absolute;
  width: 630px;
  table-layout: fixed;
  top: 65%;
  right: 35%;
  left: 2%;
  transform: scale(0.9, 0.9);
  transition: 0.3s transform;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #d32f2f;
}

.sliders {
  transform: scale(1, 1);
  width: 200px;
}

.pay-table {
  flex-basis: 30%;
  transform: scale(0.7, 0.7);
  transition: 0.3s transform;
  color: black;
  font-size: 0.9rem;
}

.pay-table-text {
  overflow: hidden;
  white-space: 'nowrap';
  align-content: right;
}

.app-wrap.winner-false {
  animation: linear 1s spin;
}

/* Animations */

.vibrate-1 {
  -webkit-animation: vibrate-1 0.2s steps(2, end) 5 both;
  animation: vibrate-1 0.2s steps(2, end) 5 both;
}

.vibrate-2 {
  -webkit-animation: vibrate-1 0.2s steps(2, end) 7 both;
  animation: vibrate-1 0.2s steps(2, end) 7 both;
}

.vibrate-3 {
  -webkit-animation: vibrate-1 0.2s steps(2, end) 10 both;
  animation: vibrate-1 0.2s steps(2, end) 10 both;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 5 both;
  animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) 5 both;
}

.blink_me {
  animation: pulse 0.5s ease-in 2s, flash linear 1.7s, color_change 1s;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    color: #fff;
  }
  83% {
    opacity: 0;
    color: #fff;
  }
  86% {
    opacity: 1;
    color: #fff;
  }
  89% {
    opacity: 0;
  }
  92% {
    opacity: 1;
    color: #fff;
  }
  95% {
    opacity: 0;
    color: #fff;
  }
  100% {
    opacity: 1;
    color: #fff;
  }
}

@keyframes pulse {
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
}

@keyframes color_change {
  from {
    background: linear-gradient(
      to bottom,
      rgba(64, 64, 64, 1) 0%,
      rgba(64, 64, 64, 0) 7%,
      rgba(64, 64, 64, 0) 93%,
      rgba(64, 64, 64, 1) 100%
    );
  }
  to {
    background: linear-gradient(
      to bottom,
      rgb(97, 163, 59) 0%,
      rgba(112, 165, 15, 0) 7%,
      rgba(55, 230, 84, 0) 93%,
      rgb(24, 199, 82) 100%
    );
  }
}

@media screen and (max-width: 1024px) {
  .pay-table {
    transform: translate(30%, -5%) scale(0.8, 0.8);
  }
  .debugger {
    transform: translate(0%, 0%) scale(0.6, 0.6);
    right: 10%;
    left: 10%;
  }
  .sliders {
    transform: translate(-10%, -25%) scale(0.5, 0.5);
  }
}

@media screen and (max-width: 1000px) {
  .spinner-container {
    transform: translate(-50%, -50%) scale(0.55, 0.55);
  }
}

@media screen and (max-width: 768px) {
  .pay-table {
    transform: translate(0%, -15%) scale(0.5, 0.5);
  }
  .debugger {
    transform: translate(-10%, -40%) scale(0.5, 0.5);
    right: 0%;
    left: -0%;
  }
  .sliders {
    transform: translate(-10%, 0%) scale(0.5, 0.5);
  }
}

@media screen and (max-width: 560px) {
  .pay-table {
    transform: translate(10%, -15%) scale(0.5, 0.5);
  }
  .debugger {
    transform: translate(-10%, -25%) scale(0.5, 0.5);
    right: 0%;
    left: -0%;
  }
  .sliders {
    transform: translate(-10%, 0%) scale(0.5, 0.5);
  }
}

@media screen and (max-width: 425px) {
  .pay-table {
    transform: translate(10%, -20%) scale(0.3, 0.3);
  }
  .debugger {
    transform: translate(-10%, -35%) scale(0.5, 0.5);
    right: -20%;
    left: -10%;
  }
  .sliders {
    transform: translate(-10%, 0%) scale(0.5, 0.5);
  }
}

@media screen and (max-width: 375px) {
  .pay-table {
    transform: translate(10%, -20%) scale(0.3, 0.3);
  }
  .debugger {
    transform: translate(-10%, -35%) scale(0.4, 0.4);
    right: -20%;
    left: -10%;
  }
  .sliders {
    transform: translate(-30%, 0%) scale(0.4, 0.4);
  }
}

@media screen and (max-width: 320px) {
  .pay-table {
    transform: translate(20%, -20%) scale(0.3, 0.3);
  }
  .debugger {
    transform: translate(-20%, -35%) scale(0.4, 0.4);
    right: -50%;
    left: -10%;
  }
  .sliders {
    transform: translate(-30%, 0%) scale(0.4, 0.4);
  }
}

@media screen and (max-width: 500px) {
  .spinner-container {
    transform: translate(-50%, -50%) scale(0.4, 0.4);
  }
}

/*  material-ui override */

.MuiSlider-markLabel {
  font-size: 0.7rem !important;
  color: aliceblue !important;
}

.MuiFormLabel-root,
.MuiSelect-icon,
.MuiInputBase-root {
  color: aliceblue !important;
}

/* .MuiSelect-icon */
/* .MuiInput-underline {
    border-bottom: 0.5px solid #fff
} */

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
