@media screen and (max-width: 540px) {
  .main-container {
    max-width: 95%;
    margin: auto;
  }
}

@media screen and (min-width: 940px) {
  .main-container {
    max-width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 640px) {
  .main-container {
    max-width: 85%;
    margin: auto;
  }
}

@media screen and (max-width: 1140px) {
  .main-container {
    max-width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 1340px) {
  .main-container {
    max-width: 50%;
    margin: auto;
  }
}
